<mat-card *ngFor="let record of records" (click)="itemChoosed.emit(record)">
  <mat-card-header>
    <img
      mat-card-avatar
      [src]="record?.fields.Images[0]?.url"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-title>{{ record.fields["Product Name"] }}</mat-card-title>
    <mat-card-subtitle>{{
      record.fields["Manufacturer Name (Lookup)"]
    }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{ record.fields["Product Description"] | slice: 0:72 }}...</p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-stroked-button>tag1</button>
    <button mat-stroked-button>tag2</button>
  </mat-card-actions>
</mat-card>
