<div class="container">
  <div class="row">
    <div class="col-6"></div>
    <div class="main-container col-6">
      <div class="main-content">
        <div class="image-container">
          <!-- <ion-icon name="golf-outline"></ion-icon> -->
          benki_logo
        </div>
        <div class="main-text-container">
          <h3>Log in to your account</h3>
        </div>
        <form>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Enter your username" />
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Enter your password" />
          </mat-form-field>
        </form>
        <div class="remember-me_forgott-pass-container m-t-15">
          <div class="left-side">
            <mat-checkbox>Check me!</mat-checkbox>
          </div>
          <div class="right-side">
            <a target="_blank" rel="noopener noreferrer">Forgot password</a>
          </div>
        </div>
        <!-- <ion-button shape="round" expand="block" color="success" class="m-t-30"
          >Login</ion-button
        > -->
        <button mat-button color="primary">Login</button>
      </div>
      <div class="footer-content">
        <div class="left-side">Dont have an account?</div>
        <div class="right-side">
          <a target="_blank" rel="noopener noreferrer">Regester here</a>
        </div>
      </div>
    </div>
  </div>
</div>
