<div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <mat-form-field appearance="outline">
          <mat-label>Search</mat-label>
          <input matInput placeholder="Ex: search bla,bla bla..." />
          <mat-icon matSuffix>search</mat-icon>
          <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-12">
        <mat-form-field appearance="outline">
          <mat-label>Cars</mat-label>
          <select matNativeControl required>
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
          </select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Cars</mat-label>
          <select matNativeControl required>
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
          </select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Cars</mat-label>
          <select matNativeControl required>
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
          </select>
        </mat-form-field>
      </div>
      <div class="col-lg-9 col-md-12">
        <div class="row">
          <div
            class="col-lg-4 col-sm-6 col-12 m-b-10 m-t-10"
            *ngFor="let record of records"
          >
            <app-card-item-small
              [record]="record?.fields"
            ></app-card-item-small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
