<div class="main-container">
  <div class="header">
    <div class="left-side">
      <div class="left-container">
        <div
          class="image-container"
          [ngStyle]="{
            'background-image': 'url(' + record?.Images[0]?.url + ')'
          }"
        ></div>
      </div>
      <div class="right-container">
        <div class="header-content p-l-10 p-r-10">
          <div>alpha</div>
          <div>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Perferendis rerum explicabo atque nobis qui iure repellendus iste et
            pariatur. Quae quisquam assumenda expedita dolore ratione mollitia
            sunt natus modi molestias!
          </div>
          <ul>
            <li>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Reiciendis adipisci totam numquam quas accusamus dolorum tempora
            </li>
            <li>
              nisi delectus aperiam excepturi veniam, placeat quis, doloribus
              quo, assumenda praesentium dignissimos necessitatibus!
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="right-side">tags</div>
  </div>
  <mat-divider></mat-divider>
  <div class="footer m-t-10">
    <div class="container">
      <div class="row">
        <div class="col-4 info-column m-b-10">
          <div class="label">label</div>
          <div class="content">content</div>
        </div>
        <div class="col-4 info-column m-b-10">
          <div class="label">label</div>
          <div class="content">content</div>
        </div>
        <div class="col-4 info-column m-b-10">
          <div class="label">label</div>
          <div class="content">content</div>
        </div>
        <div class="col-4 info-column m-b-10">
          <div class="label">label</div>
          <div class="content">content</div>
        </div>
        <div class="col-4 info-column m-b-10">
          <div class="label">label</div>
          <div class="content">content</div>
        </div>
        <div class="col-4 info-column m-b-10">
          <div class="label">label</div>
          <div class="content">content</div>
        </div>
      </div>
    </div>
  </div>
</div>
